In [1]:
import pandas as pd
import geopandas as gpd

In [19]:
df = gpd.read_file('../../data/cleaned-datasets/ph-shp-file/ph-shp-file.shp')
df

,name,city_munic,province,clean_idx,coords,geometry
0,Aborlan,Aborlan,Palawan,"aborlan, palawan","9.4371009, 118.5484168","MULTIPOLYGON (((118.57998 9.37215, 118.57982 9..."
1,Abra De Ilog,Abra De Ilog,Occidental Mindoro,"abradeilog, occidentalmindoro","13.4437209, 120.7268262","POLYGON ((120.60896 13.35233, 120.60797 13.373..."
2,Abucay,Abucay,Bataan,"abucay, bataan","14.7213146, 120.5348704","POLYGON ((120.45676 14.69671, 120.45620 14.696..."
3,Abulug,Abulug,Cagayan,"abulug, cagayan","18.4434854, 121.4572732","MULTIPOLYGON (((121.40276 18.40896, 121.40276 ..."
4,Abuyog,Abuyog,Leyte,"abuyog, leyte","10.747102, 125.0114853","POLYGON ((125.04650 10.56751, 125.04588 10.576..."
...,...,...,...,...,...,...
1629,Zamboanga,City of Zamboanga,Zamboanga del Sur,"zamboanga, zamboangadelsur","6.9214, 122.079","MULTIPOLYGON (((122.06639 6.86972, 122.06639 6..."
1630,Zamboanguita,Zamboanguita,Negros Oriental,"zamboanguita, negrosoriental","9.1004649, 123.1994244","POLYGON ((123.20750 9.10485, 123.20722 9.10443..."
1631,Zaragoza,Zaragoza,Nueva Ecija,"zaragoza, nuevaecija","15.4475833, 120.7935538","POLYGON ((120.81170 15.47132, 120.81309 15.470..."
1632,Zarraga,Zarraga,Iloilo,"zarraga, iloilo","10.8223786, 122.6095819","POLYGON ((122.65892 10.79784, 122.65959 10.796..."
1633,Zumarraga,Zumarraga,Samar,"zumarraga, samar","11.6390554, 124.8415308","MULTIPOLYGON (((124.87373 11.62500, 124.87370 ..."

In [20]:
df.drop(['city_munic', 'clean_idx'], axis=1, inplace=True)
df

,name,province,coords,geometry
0,Aborlan,Palawan,"9.4371009, 118.5484168","MULTIPOLYGON (((118.57998 9.37215, 118.57982 9..."
1,Abra De Ilog,Occidental Mindoro,"13.4437209, 120.7268262","POLYGON ((120.60896 13.35233, 120.60797 13.373..."
2,Abucay,Bataan,"14.7213146, 120.5348704","POLYGON ((120.45676 14.69671, 120.45620 14.696..."
3,Abulug,Cagayan,"18.4434854, 121.4572732","MULTIPOLYGON (((121.40276 18.40896, 121.40276 ..."
4,Abuyog,Leyte,"10.747102, 125.0114853","POLYGON ((125.04650 10.56751, 125.04588 10.576..."
...,...,...,...,...
1629,Zamboanga,Zamboanga del Sur,"6.9214, 122.079","MULTIPOLYGON (((122.06639 6.86972, 122.06639 6..."
1630,Zamboanguita,Negros Oriental,"9.1004649, 123.1994244","POLYGON ((123.20750 9.10485, 123.20722 9.10443..."
1631,Zaragoza,Nueva Ecija,"15.4475833, 120.7935538","POLYGON ((120.81170 15.47132, 120.81309 15.470..."
1632,Zarraga,Iloilo,"10.8223786, 122.6095819","POLYGON ((122.65892 10.79784, 122.65959 10.796..."
1633,Zumarraga,Samar,"11.6390554, 124.8415308","MULTIPOLYGON (((124.87373 11.62500, 124.87370 ..."

In [ ]:
["Brooke's Point", "T'Boli"]

In [26]:
df[df['name'] == "Brooke's Point"]

Empty GeoDataFrame
Columns: [name, province, coords, geometry]
Index: []

In [25]:
df.drop(df.index[243], inplace=True)